#footer{
  flex-shrink:0;
  align-self: flex-end;
  position: relative;
  z-index: 3;
}
.footer{
  margin-top: 8em;
  margin-right: 4em;
  font-size: 1.3rem;
  @mixin mediumScreensMaxWidth890{
    margin: 1em 3.438em 0 2.438em;
  }
  @mixin smallScreensMaxWidth565{
    margin: -2em 2.438em 0 2.438em;
  }
}